<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Universal Shopping</a>

    <div class="right">
      <div class="d-flex align-items-center ms-auto">
        <ng-container *ngIf="userFullName">
          <span class="text-light me-3">{{ userFullName }}</span>
          <button class="btn btn-outline-light me-2" (click)="goToCart()">
            <i class="bi bi-cart"></i>
          </button>
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </ng-container>
      </div>
    </div>
    
  </div>
</nav>
